{% extends 'main.html' %}
{% load static %}
{% block title %}<title>О нас</title>{% endblock %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1" style="background-image: url('static/img/aboutToys2.png')">
    <div class="container">
        <div class="row" >
            <div class="col-xl-12" >
                <div class="bradcam_text text-center ">
                    <h3>О нас</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="main_about_wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h3 align="center">КОРОЛЕВСТВО ИГРУШЕК <br> магазин семейных ценностей <br>и детского счастья</h3>
                <p> &bull;  Сети наших магазинов уже более 30 лет, мы самостоятельно выбираем для Вас каждую игрушку, основываясь на нашем многолетнем опыте.<br> &bull;  Ищем лучших поставщиков и пытаемся держать низкий уровень цен без потери качества продукции. <br>&bull;  В наших магазинах Вы найдете игрушки, развивающее пособия для детей всех возрастов. <br>&bull;  Кроме этого в сети наших магазинов представлен огромный выбор уникальных настольных игр для взрослых компаний.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="about_thumb">
                            <img src="{% static 'img/aboutLeft.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="about_thumb">
                            <img src="{% static 'img/aboutRight.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}