{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Контакты</title>{% endblock %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2"  style="background-image: url('static/img/aboutToys2.png')">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Контакты</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- ================ contact section start ================= -->
<section class="contact-section" >
    <div align="center" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/50/perm/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Пермь</a><a href="https://yandex.ru/maps/50/perm/house/ulitsa_pisareva_29a/YU8YdQdjSUMHQFtifX1xeH1iZA==/?indoorLevel=1&ll=56.306235%2C58.108542&utm_medium=mapframe&utm_source=maps&z=16.85" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=56.306235%2C58.108542&mode=poi&poi%5Bpoint%5D=56.303084%2C58.108920&z=16.85" width="1120" height="800" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">

        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Напишите нам</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {% if success %}
                        <div class="alert alert-danger">
                            <strong>Спасибо за сообщение!</strong>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.message }}
                                </div>
                                {% if form.message.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ form.message.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                                {% if form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ form.name.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                                {% if form.email.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ form.email.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Отправить</button>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>ТЦ "Кит на Гайве", улица Писарева, 29А</h3>
                        <p>Орджоникидзевский район</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>ТЦ "Кит ", улица Крупской, 79А</h3>
                        <p>Мотовилихинский район</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>с.Култаево,ул.Веселая 1</h3>
                        <p>с. Култаево</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock %}